<div class="ferris" [@ferrisSignal]="ferrisSignal">
  <div class="group group1">
    <div class="arm"></div>
    <img class="capsule" src="../assets/images/capsule.png" (click)="shake()" [@status]="status">
  </div>
  <div class="group group2">
    <div class="arm"></div>
    <img class="capsule" src="../assets/images/capsule.png">
  </div>
  <div class="group group3">
    <div class="arm"></div>
    <img class="capsule" src="../assets/images/capsule.png">
  </div>
  <div class="group group4">
    <div class="arm"></div>
    <img class="capsule" src="../assets/images/capsule.png">
  </div>
  <div class="group group5">
    <div class="arm"></div>
    <img class="capsule" src="../assets/images/capsule.png">
  </div>
  <div class="group group6">
    <div class="arm"></div>
    <img class="capsule" src="../assets/images/capsule.png">
  </div>
</div>

<button (click)="stopSignal()">stop</button>
<button (click)="startSignal()">run once</button>
